extends layout

block content
	header 
		h1(id = 'mainTitle') RedStore
		a(href = '/signout', id = 'signout')	Sign out

	#adminPanel
		h2 Welcome Admin!
		#listItem Users (role 1 = user, role 2 = admin)
		- each user in users
			#serv
				p	Name : #{user.name}
				p   Role : #{user.role}

		a(href = '/admin/services', class = 'adminPanelBtn') Services
		a(href = '/admin/users', class = 'adminPanelBtn') Users
		a(href = '/admin/projects', class = 'adminPanelBtn') Projects