extends layout
block content
  header 
    h1(id = 'title') RedStore
    p(id = 'signIn')
      a(href = '/login') Sign In
    p(id = 'registerService')
      a(href = '/registerService') Register A Service
  body
    p This is some Text.