extends layout

block content
	header 
		h1(id = 'mainTitle') RedStore

	#LoginForm
		form(action='/login', method = 'post')
			#user
				input(type='text', name = 'username', id = 'userField', placeholder = 'username', autofocus="autofocus")
			#pass
				input(type='password', name = 'password', id = 'passwordField',  placeholder = 'password')
			#loginbtn
				button(type='submit', value='Sign in', id = 'loginSubmitbutton', class = 'btn btn-success') Sign In