extends layout

block content 
	#LoginForm
		form(action='/welcome', method = 'post')
			input(type='text',  name = 'username') 
			input(type='password', name = 'password')
			button(type='submit') Sign In