extends layout

block content
	header 
		h1(id = 'mainTitle') RedStore
		a(href = '/signout', id = 'signout')	Sign out

	#adminPanel
		h2 Welcome Admin!

	#LoginForm
		form(action='/makeProject', method = 'post')
			#user
				input(type='text', name = 'project', id = 'project', placeholder = 'Project Name', autofocus="autofocus")
			#loginbtn
				button(type='submit', value='Sign in', id = 'loginSubmitbutton', class = 'btn btn-success') Make New Project


		#listItem Projects
		- each project in projects
			#serv
				p	Service  Name : #{project.name}
				p   Provider Name : #{project.owner}

		a(href = '/admin/services', class = 'adminPanelBtn') Services
		a(href = '/admin/users', class = 'adminPanelBtn') Users
		a(href = '/admin/projects', class = 'adminPanelBtn') Projects