#wrap {
  width : 920px;
}

html {
	 overflow-y: scroll;
}
html, body {
	height: 100%;
	background: #ebf7ff;
	font-family: 'Lato', sans-serif;
}

#RegisterService {
	position: relative;
	top : 120px;
	left : 60px;
}
header {
	position: fixed;
	top: 0;	
	left: 0;
	height: 70px;
	width: 100%;
	background: #F7FCFF;
	z-index: 15;
}
header h1 {
	font-size: 50px;
	font-weight: normal;
	position: relative;
	top: 15px;
	margin: 50px;
	color: #F06900;
	display: inline;
}

#LoginForm {
	position: relative;
	top: 90px;
	left: 60px;
}

#userField  {
	border-left: 5px solid #938FEE;
	padding-left: 10px;
	font-size: 18px;
	border-right: none;
	border-top: none;
	border-bottom: none;
	height: 40px;
}

#passwordField  {
	border-left: 5px solid #938FEE;
	margin-top : 0px;
	margin-bottom : 15px;
	margin-right: 10px;
	padding-left: 10px;
	font-size: 18px;
	border-right: none;
	border-top: none;
	border-bottom: none;
	height: 40px;
}

#loginSubmitbutton {
	border-radius: 0px;
}

#signout {
	position: relative;
	float: right;
	top: 25px;
	right: 40px;
}

#adminPanel {
	font-family: 'Lato', sans-serif;
	position: relative;
	top: 90px;
	left: 50px;
}

#userPanel {
	font-family: 'Lato', sans-serif;
	position: relative;
	left: 50px;
	top : 90px;
}

#adminPanel h2 {
	font-size: 25px;
	color: #FA1818;
}

#userPanel h2 {
	font-size: 25px;
	color: #FA1818;
}

.adminPanelBtn {
	background: #AFF5B5;
	margin: 20px;
	padding: 10px;
	position: relative;
	top : 20px;
}

.adminPanelBtn:hover {
	background : #79C6F1;
	text-decoration: none;
};

.adminPanelBtn:active {
	background-color: #3F87AF;
	text-decoration: none;
}

#listItem {
	font-size: 25px;
	padding: 10px 0px;
	color: black;
}

#serv {
	padding: 20px 0px;
	border : black;
}
#makeProjectBtn {
	margin: 20px 0px;
}