body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
header {
	height: 100px;
}

#signIn {
	position: relative;
	width: 100px;
}

#registerService {
	position: relative;
	width: 300px;
}
